<div class="row">
	<div class="col-7">
		<h6>Products</h6>
	</div>
	<div class="col-5 text-end">
		<button class="btn btn-warning" (click)="openModal()">Add New</button>
	</div>
</div>
<div class="row">
@for (item of productList(); track $index) {
<div class="col-4">
		<div class="card shadow-sm"> 
			@if (item.productImageUrl == '' || item.productImageUrl == null) {
				<svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="100px" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>No Image Found</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">No Image Found</text></svg>
			}
			@else{
			<img style="height: 100px; object-fit: contain;" [src]="item.productImageUrl" alt="">
			}
			<div class="card-body">
				<p class="card-text">{{item.productName}}</p>
				<div class="row">
					<div class="col-6">{{item.categoryName}}</div>
					<div class="col-6 text-end">{{item.productPrice}}</div>
				</div>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-danger" (click)="onDelete(item.productId)">Delete</button>
						<button type="button" class="btn btn-sm btn-outline-secondary" (click)="onEdit(item.productId)">Edit</button> </div> <small
						class="text-body-secondary">9 mins</small>
				</div>
			</div>
		</div>
</div>
}

</div>
<div id="myModal" class="modal fade" #newModal role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
		<form [formGroup]="productForm">
      <div class="modal-header">
        <!-- <button type="button" class="btn-close" (click)="closeModal()"  data-bs-dismiss="modal"></button> -->
        <h4 class="modal-title">New Product</h4>
      </div>
      <div class="modal-body">
        <div class="row">
			<div class="col-3">
				<label form="">Product SKU</label>
				<input type="text" formControlName="productSku" class="form-control">
			</div>
			<div class="col-9">
				<label form="">Long Name</label>
				<input type="text" formControlName="productName"  class="form-control">
				<div class="text-danger">
					@if (this.productForm.controls['productName'].errors?.['required']) {
						<span>This is required</span>
					}
					@else if (this.productForm.controls['productName'].errors?.['minlength']) {
						<span>Min 4 Characters Needed</span>
					}
				</div>
			</div>
			<div class="col-6">
				<label form="">Short Name</label>
				<input type="text" formControlName="productShortName" class="form-control">
			</div>
			<div class="col-12">
				<label form="">Description</label>
				<input type="text" formControlName="productDescription" class="form-control">
			</div>
			<div class="col-6">
				<label form="">Select Category</label>
				<select class="form-select" formControlName="categoryName">
					<option value="">--Select--</option>
					<option>Technology</option>
					<option>Clothes</option>
					<option>Fruits & Vegitables</option>
					<option>Cuts & Sprouts</option>
				</select>
			</div>
			<div class="col-6">
				<label form="">Price</label>
				<input type="number" formControlName="productPrice" class="form-control">
			</div>
			<div class="col-6">
				<label form="">Delivery Span</label>
				<select class="form-select" formControlName="deliveryTimeSpan">
					<option value="">--Select--</option>
					<option>2-3 Days</option>
					<option>3-5 Days</option>
					<option>upto 15 Days</option>
				</select>
			</div>
			<div class="col-12">
				<label form="">Product Image Url</label>
				<input type="text" formControlName="productImageUrl" class="form-control">
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"  (click)="closeModal()" data-bs-dismiss="modal">Close</button>
		@if (this.productForm.controls['productId'].value == 0 || this.productForm.controls['productId'].value == null ) {
					<button type="button" class="btn btn-success" [disabled]="productForm.invalid"  (click)="saveProduct()" data-bs-dismiss="modal">Save Product</button>
		}
		@else {		
			<button type="button" class="btn btn-warning" [disabled]="productForm.invalid" (click)="updateProduct()" data-bs-dismiss="modal">Update Product</button>
		}
      </div>
	</form>
    </div>

  </div>
</div>